<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>
  <body>

    <div id="usermenu">
      <ol>
        {% if is_authenticated %}
        <li> <a href="{% url "logout" %}">Logout</a></li>
        {% else %}
        <li> <a href="{% url "login" %}">Login</a></li>
        {% endif %}
        <li><a href="secret">secret</a></li>
      </ol>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
